@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body,
figure {
    margin: 0;
}

html {
    font-family: Raleway;
    font-size: 16px;
}

p {
    margin: 0;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.body-base {
    /* p */
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #051101;
}


.title {
    /* h1 */
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    color: #051101;
    margin-top: 16px;
    margin-bottom: 16px;
}


.subtitle {
    /* h2 */
    color: #000;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
}

.subsubtitle {
    /* h3 */
    color: #5CBE3A;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0;
}

.text-center {
    text-align: center;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 850px;
    /* background: #EBFFE4 url(./images/header-lines.svg) no-repeat right top; */
    background-color: #EBFFE4;
    background-image: url(./images/header-lines.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
}

.left-block {
    width: 430px;
    height: 566px;
    margin-top: 112px;
}

.nav-link {
    color: #051101;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-right: 30px;
    opacity: 0.6;
}

.nav-link-active {
    opacity: 1;
}

.btn {
    padding: 15px 30px;
    border-radius: 4px;
    background: #5CBE3A;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 30px;
}

.second-btn-style {
    border-radius: 4px;
    border: 1px solid rgba(92, 190, 58, 0.30);
    background: none;
    color: #5CBE3A;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.title-and-logo {
    display: flex;
    justify-content: space-between;
}

.banner-link {
    opacity: 0.7;
    color: #5CBE3A;
    font-weight: 700;
}

.price {
    color: #5CBE3A;
    font-size: 31px;
    font-weight: 700;
    line-height: 130%;
    display: inline-block;
    margin-right: 30px;
    margin-top: 16px;
    margin-bottom: 36px;
}

.old-price {
    color: #87D16D;
    font-size: 22px;
    text-decoration-line: line-through;
}

.info-block {
    display: inline-block;
    margin-right: 54px;
    margin-top: 80px;
}

.info-num {
    color: #5CBE3A;
    font-size: 85px;
    font-weight: 700;
    line-height: 120%;
}

.info-text {
    color: #051101;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    opacity: 0.7;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    display: flex;
    grid-column-gap: 30px;
    justify-content: center;
}

.product-caption {
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    margin-top: 20px;
}

.price-products {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px; 
}

.rating {
    margin-top: 10px;
    margin-bottom: 10px;
}

.star {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(./images/star-empty.svg);
    background-repeat: no-repeat;
}

.product-image {
    width: 100%;
}

.rating:hover .star {
    background-image: url(./images/star-fill.svg);
}

.rating .star:hover~ .star {
    background-image: url(./images/star-empty.svg);
}